{% extends 'base.html' %}

{% block content %}
{% set m = mode %}
{% if m == "ul"%}
<ul>
    <li>Инженер-исследователь</li>
    <li>Пилот</li>
    <li>Строитель</li>
    <li>Биолог</li>
    <li>Врач</li>
    <li>Климатолог</li>
    <li>Астрогеолог</li>
    <li>Метеоролог</li>
    <li>Киберинженер</li>
    <li>Оператор Марсохода</li>
</ul>
{% elif m == "ol"%}
<ol>
    <li>Инженер-исследователь</li>
    <li>Пилот</li>
    <li>Строитель</li>
    <li>Биолог</li>
    <li>Врач</li>
    <li>Климатолог</li>
    <li>Астрогеолог</li>
    <li>Метеоролог</li>
    <li>Киберинженер</li>
    <li>Оператор Марсохода</li>
</ol>
{% else %}
<h2>Неправильный аргумент</h2>
{% endif %}
{% endblock %}